<p id="notice"><%= notice %></p>

<%= link_to 'New Article', new_article_path, class: "btn btn-primary btn-block", style: "color: #fff;" %><br />

<div class="panel panel-default">
  <!-- Default panel contents -->
  <% provide(:title, "MyRoRBlog Articles") %>
  <div class="panel-heading">
    Listing Articles
  </div>
  <!-- <div class="panel-body">
    <p>...</p>
  </div> -->

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-condensed">
      
      <thead>
        <tr class="danger">
          <th class="text-center">#</th>
          <th>Title</th>
          <th>Post</th>
          <th>User</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td class="text-center"><%= article.id %></td>
            <td><%= article.title %></td>
            <td class="text-center"><%= article.post %></td>
            <td><%= article.user_email %></td>
            <td>
              <!-- <div></div> -->
              <%= link_to 'Show', article, class: "btn btn-default btn-block" %>
              <%= link_to 'Edit', edit_article_path(article), class: "btn btn-default btn-block" %>
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-block" %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>

