<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @article.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<h2>Comments</h2>
<% # we're on the loop! %>
<% @article.comments.each do |comment| %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	</p>
	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
	<p>
		<% # article_comment_path are set in routes as a article_comment. Mind these namings! %>
		<%= link_to 'Delete', article_comment_path(@article.id, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>

<h2>Add a comment</h2>

<% # this is a form %>
<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %><br />
		<%= f.text_field :commenter %><br />
	</p>
	<p>
		<%= f.label :body %><br />
		<%= f.text_field :body %><br />
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
